/* default color */

// main colors
$primary-color: #08AAFA;
$primary-color1: lighten(#08AAFA, 40%);
$primary-color2: #fe7418;

$waring-color: #F9A501;
$success-color: #13CE66;
$error-color: #F54643;


// font colors
$font-color1: #333;
$font-color2: #666;
$font-color3: #999;
$font-color4: #ccc;

// border colors
$border-color1: #e5e5e5;

/* default size */
$big-title-size: 20px;
$title-size: 18px;
$small-title-size: 16px;
$base-size: 14px;
$small-base-size: 13px;
$help-font-size: 12px;

