@import "~antd/lib/style/themes/default.less";

.content {
  margin: 0 0 0;
}

@media screen and (max-width: @screen-sm) {
  .content {
    margin: 0 0 0;
  }
}

.header {
  background-color: @background-color-base;
}

.param {
  margin-right: 10px;
  width: 200px;
}

.angle-icon {
  margin-left: 12px;
  display: inline-block;
}

.dropdown {
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;

  li {
    cursor: pointer;
    text-align: center;

    .selected {
      color: #FFF;
      background-color: #48A948;
    }
  }
}

.inbound {
  float: left;
  width: 95px;
  list-style: none;
  padding-left: 0px;
  border-right: 1px solid #D2D2D2;
  border-bottom: 1px solid #D2D2D2;

  .inbound-title {
    text-align: center;
    font-weight: bold;
    padding-top: 4px;
    padding-bottom: 4px;
  }
}

.outbound {
  float: right;
  width: 95px;
  list-style: none;
  padding-left: 0px;
  border-bottom: 1px solid #D2D2D2;

  .outbound-title {
    text-align: center;
    font-weight: bold;
    padding-top: 4px;
    padding-bottom: 4px;
  }
}
